@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

html {
  font-family: 'Nunito Sans', sans-serif;
}

.parallax-container {
  height: 400px;
}

.wrong {
  background-color: #4284A4;
}

.login-join {
  margin: 20px !important;
}

/* Container holding the image and the text */
.container {
  position: relative;
} 

img {
  width:100%;
}

.link_color {
  color:black;
}

.text-block {
  position: absolute;
  background-color: #5B8BA3;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  top: 25%;
  left:50%;
  transform: translate(-50%,-50%);
} 

.text {
  padding-left: 20px;
  padding-right: 20px;
}

.button_padding {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
nav {
  background-color: #4284A4;
}

.page-footer  {
  background-color: #4284A4;
}

.footer-copyright div {
  text-align: center;
}

.go_back_button {
  background-color: #4284A4;
  color: #fff;
}

.row .card {
  padding: 0;
}

.card-title {
  font-size: xx-large;
}

.btn {
    background-color: #4284A4;
}

.btn:hover{
    background-color: #60a0bf;
}
 
  /* label color */
  .input-field label {
    color: #60a0bf;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #4284A4;
  }

/* label focus color */
.input-field input:focus + label {
  color: #60a0bf !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #60a0bf !important;
  box-shadow: 0 1px 0 0 #60a0bf !important;
}

.hidden {
  display: none;
}

/* Datepicker display changed */
.picker__date-display {
  background-color: #4284A4;
}


.picker__day.picker__day--today,
.picker__close, .picker__today {
  color: #4284A4;
}

.picker__nav--next:hover,
.picker__nav--prev:hover,
.picker__day--selected, 
.picker__day--selected:hover, 
.picker--focused, 
.picker__day--selected  {
  background-color: #60a0bf !important;
}

/*-------------------Media Queries-------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .parallax-container {
    height: 200px;
  }
}

@media only screen and (max-height: 650px) {
.text-block {
  top: 30%;
} 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .brand-logo {
    margin-left: 20px;
  }
}