.book_cover {
    height : 100px;
}

.btn {
    background-color: #4284A4;
}
 
  /* label color */
  .input-field label {
    color: #60a0bf;
  }

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #4284A4;
  }
