<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Konyvkucko">
    <meta property="og:description" content="Hungarian Books in Ireland">
    <meta property="og:image" content="http://raw.githubusercontent.com/taikatta/Milestone3-Konyvkucko/master/static/images/Canva%20-%20Photo%20Of%20Girl%20Reading%20Book.jpg">
    <meta property="og:url" content="https://konyvkucko.herokuapp.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website" />
    <!-- Favicon added https://www.favicon-generator.org -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>Konyvkucko</title>
</head>

<body>
    <header>

        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo" href="{{ url_for('home') }}">Könyvkuckó</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                {% if 'username' in session %}
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a>Welcome, {{ session['username'] }}!</a></li>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('allbooks')}}">Books</a></li>
                    <li><a href="{{url_for('book_donation')}}">Donation</a></li>
                    <li><a href="{{url_for('wishlistpage')}}">Wishlist</a></li>
                    <li><a href="{{url_for('endsession')}}">Logout</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><span>Welcome, {{ session['username'] }}!</span></li>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('allbooks')}}">Books</a></li>
                    <li><a href="{{url_for('book_donation')}}">Donation</a></li>
                    <li><a href="{{url_for('wishlistpage')}}">Wishlist</a></li>
                    <li><a href="{{url_for('endsession')}}">Logout</a></li>
                </ul>
                {% else %}
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('allbooks')}}">Books</a></li>
                    <li><a href="{{url_for('book_donation')}}">Donation</a></li>
                    <li><a href="{{url_for('wishlistpage')}}">Wishlist</a></li>
                    <li><a href="{{url_for('userlogin')}}">Login</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('allbooks')}}">Books</a></li>
                    <li><a href="{{url_for('book_donation')}}">Donation</a></li>
                    <li><a href="{{url_for('wishlistpage')}}">Wishlist</a></li>
                    <li><a href="{{url_for('userlogin')}}">Login</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>

    </header>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Libraries Ireland</h5>
                    <p>Login to your Library Account and search for Hungarian children's books here:</p>
                    <a href="http://librariesireland.iii.com/iii/encore/search/C__SJ894.511__Orightresult__U?lang=eng&suite=def"
                        target="_blank">
                        <p class="grey-text text-lighten-4">http://librariesireland.iii.com/</p>
                    </a>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact details:</h5>
                    <p class="grey-text text-lighten-3">Email: dublinikonyvkucko@gmail.com</p>
                    <p class="grey-text text-lighten-3">Our books are hosted by:</p>
                    <p class="grey-text text-lighten-3" href="#!">Deansgrange Library<br>Clonkeen
                        Dr<br>Deansgrange<br>Dublin<br>D18 NY58</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2020 Könyvkuckó
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>