{% extends 'base.html' %} {% block content %}

<div class="container">
    <h5>Please click to the button to donate to our library.</h5>

    <a class="btn" href="{{url_for('add_to_donation')}}">I would like to donate a book!<i
            class="material-icons right">add</i></a>

    <h4>Recently donated books:</h4>
    <h5>A special thank you for your donation to Konyvkucko. We appreciate your kindness.</h5>
    <h6>The following books have been donated to our library, but they haven't arrived yet. Once we have the books, they
        will appear on the <a href="{{url_for('allbooks')}}">Books</a> page.</h6>

    <div class="row">

        {% for book in donation %}
        {% if book.approved != False %}
        <div class="collection">
            <div class="collection-item">
                <div class="col s12 m6 l4 card">
                    <div class="card-image">
                        <img src="{{ book.book_cover }}">
                    </div>
                </div>
                <div class="col s12 m6 l8 card-content">
                    <div class="card-title">
                        <h5>{{book.book_title}} </h5>
                        <h5>{{book.author}}</h5>
                        {% if 'username' in session and session['username'] == 'admin' %}
                        <h6>{{book.contact_name}}, {{book.contact_info}}</h6>
                        <div class="button_padding">
                            <a class="btn" href="{{url_for('add_to_books', book_id=book._id)}}">The book has
                                arrived!</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {% if 'username' in session and session['username'] == 'admin' %}
        <div class="collection">
            <div class="collection-item">
                <div class="col s12 m6 l4 card">
                    <div class="card-image">
                        <img src="{{ book.book_cover }}">
                    </div>
                </div>
                <div class="col s12 m6 l8 card-content">
                    <div class="card-title">
                        <h5>{{book.book_title}} </h5>
                        <h5>{{book.author}}</h5>
                        <h6>{{book.contact_name}}, {{book.contact_info}}</h6>
                        <div class="button_padding">
                            <a class="btn" href="{{url_for('add_to_books', book_id=book._id)}}">The book has
                                arrived!</a>
                        </div>
                        <div class="button_padding">
                            <a class="btn" href="{{url_for('approved', book_id=book._id)}}">The book is
                                approved!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}