{% extends 'base.html' %} {% block content %}

<h3>Donation list</h3>

<div class="row">

    {% for book in donation %}
    <div class="collection">
        <div class="collection-item">
            <div class="col s12 m6 l4 card">
                <div class="card-image">
                    <img src="{{ book.book_cover }}">
                </div>
            </div>
            <div class="col s12 m6 l8 card-content">
                <div class="card-title">
                    <h5>{{book.book_title}} </h5>
                    <h5>{{book.author}}</h5>
                    <a class="btn" href="{{url_for('add_to_books', book_id=book._id)}}">The book has arrived!</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}