{% extends 'base.html' %} {% block content %}

<!-- Using Parallax effect (Materialize) -->
<div class="parallax-container">
  <div class="parallax"><img src="../static/images/Canva_Photo_Of_Girl_Reading_Book.jpg" alt="Girl Reading Book"></div>
</div>
<div class="section white">
  <div class="row container">
    <h4 class="header">Welcome to our Hungarian children's books library!</h4>
    <br>
    <h5>Our book collection is about 120 books, all our books were donated. 
      We got books from authors, organizations, individuals. </h5>
    <h5>If you would like to see our collection, visit: <a href="{{url_for('allbooks')}}">Books</a>.</h5>
    <h5>Check out our <a href="{{url_for('wishlistpage')}}">Wishlist</a> to see which books are we looking for at
      the
      moment.</h5>
    <h5>These books has been donated to our library, we will make them available to you as soon as possible: <a
        href="{{url_for('book_donation')}}">Donation</a>.
    </h5>
    <h5>To borrow our books all you need is a public library card. You can check the available Hungarian books
      here: <a href="http://librariesireland.iii.com/iii/encore/search/C__SJ894.511__Orightresult__U?lang=eng&suite=def"
        target="_blank">http://librariesireland.iii.com/</a>
    </h5>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="../static/images/Canva_Happy_Boy_Sitting_on_Bench_Outdoors.jpg" alt="Happy Boy Reading on Bench Outdoors"></div>
</div>

{% endblock %}