{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <form class='login-row form' action="{{ url_for('login') }}" method="POST">
            <div class="col-sm-12 col-md-5 col-lg-4">
                <p> USERNAME </p>
                <input type="text" name="username" />
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
                <p> PASSWORD </p>
                <input type="password" name="password" />
            </div>
            <div class="col-sm-12 col-md-5 col-lg-2">
                <div class="row">
                    <button type='submit' class="btn waves-effect waves-light"> Login </button>
                </div>
            </div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <p id='flashed_book'>{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}
        </form>
    </div>
    <div class="row">
        <span>
            Need an account? <a href="{{ url_for('register') }}">Sign up</a>
        </span>
    </div>
</div>
{% endblock %}