{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h3>Join today</h3>
    <div class="row login-join">
        <form method="POST" action="{{ url_for('register') }}">
            <div class="row">
                <label for="username">Username : </label>
                <input name="username" id="username"></input>
            </div>
            <div class="row">
                <label for="password">Password : </label>
                <input type="password" id="password" name="password"> </input>
            </div>            
            <div class="row">
                <button type='submit' class="btn waves-effect waves-light"> Create user </button>
            </div>
        </form>
    </div>
    <div class="row">
        <span>
            Already have an account? <a href="{{ url_for('userlogin') }}">Sign In</a>
        </span>
    </div>
</div>
{% endblock %}