{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h3>Join today</h3>
    <div class="row login-join">
        <form method="POST" action="{{ url_for('register') }}">
            <div>
                <label for="username">Username : </label>
                <input type="text" name="username" id="username"></input>
            </div>
            <div>
                <label for="password">Password : </label>
                <input type="password" id="password" name="password"> </input>
            </div>
            <div>
                <button type='submit' class="btn waves-effect waves-light"> Create user </button>
            </div>
            <br>
        </form>
        <div>
            <span>
                Already have an account? <a href="{{ url_for('userlogin') }}">Sign In</a>
            </span>
        </div>
    </div>
</div>
{% endblock %}